html,
body {
    padding: 0;
    margin: 0;
    background-color: #231f20;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Asher";
    src: url("../public/fonts/asher.ttf");
}

@font-face {
    font-family: "RNSReg";
    src: url("../public/fonts/RNSMiles-Regular.ttf");
}

@font-face {
    font-family: "RNSLight";
    src: url("../public/fonts/RNSMiles-Thin.ttf");
}